<header class="p-6 ps-2">
    <div class="row align-items-center">
        <div class="col d-flex align-items-center">
            <h1 class="fs-4 fw-bold">Assignment</h1>
            <div class="ps-5 dropdown">
                <a class="dropdown-toggle d-flex align-items-center" href="javascript:void(0)" data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    All Courses
                    <span class="ms-2 material-symbols-outlined text-success">
                        keyboard_arrow_down
                        </span>
                </a>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" type="button">Action</button></li>
                  <li><button class="dropdown-item" type="button">Another action</button></li>
                  <li><button class="dropdown-item" type="button">Something else here</button></li>
                </ul>
              </div>
        </div>
        <div class="col-auto m-auto">
            <a href="javascript:void(0);" class="me-4">
                <span class="material-symbols-outlined link rounded-circle">
                    search
                    </span>
            </a>
            <a href="javascript:void(0);">
                <span class="material-symbols-outlined link rounded-circle">
                    notifications_active
                </span>
            </a>
        </div>
    </div>
</header>