.sideMenu{
    background-color: $gray-100;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 32px;
    padding-left: 0px;
    padding-right: 0px;
    width: 296px;
}

.menu{
    
    &-title{
        display: flex;
        align-items: center;
        color: $gray-900;
        padding: 12px 16px;
        font-size: $font-size-base;
        font-weight: bold;
        span{
            margin-right: 16px;
        }
        &:hover{
            color: $white;
        }
        &:active{
            color: $success;
            border-left: solid $success 4px;
        }
    }
    li:hover{
        background-color: #00000062;
    }
    .active{
        border-left: solid $success 4px;
    }
    .mns-1{
        margin-left: -4px;
    }
}