<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <div class="d-flex">
        <aside>
          <%- include('./layout/navbarFix'); -%>
        </aside>

        <main class="ms-4 container-fluid">
          <div class="row">
            <%- include('./layout/header'); -%>
          </div>
        </main>

      </div>
    <script type="module" src="../main.js"></script>
  </body>
</html>
